.abt_us_bg{
    overflow: hidden;
}

.abt_us_bg img{
    width: 100%;
}

.sec_main_title{
    color: #4e4e4e;
    font-weight: 600;
    font-size: 35px;
    margin: 0;
    letter-spacing: 4px;
}

.sec_para{
    font-size: 16px;
    line-height: 30px;
    color: #a3a3a3;
    margin: 20px 0 0 0;
}

.para_sec_wrap{
    padding: 50px 0;
}

.para_txt_wrap{
    padding: 0 0 0 3vw;
}

.contact_inner_wrap>div{
    padding-top: 30px;
}

.input_styles{
    border: solid 2px #cccccc;
    font-weight: 100;
    font-size: 12px;
    outline: none !important;
    border-radius: 4px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    margin-bottom: 25px;
    background: #fff;
    background-color: #fff;
}

.contac_submit{
    border: solid 2px #fff;
    border-radius: 4px;
    color: #fff;
    background-color: #ff9a00;
    padding: 5px 55px;
    -webkit-box-shadow: 2px 2px 11px -2px rgba(0,0,0,0.33);
    -moz-box-shadow: 2px 2px 11px -2px rgba(0,0,0,0.33);
    box-shadow: 2px 2px 11px -2px rgba(0,0,0,0.33);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
}

.contac_submit:hover{
    background-color: #b04ad2;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
}

.input_styles:focus, .input_styles:active{
    border-color: #b04ad2 !important;
}

.faq_list li{
    color: #313131;
    font-size: 16px;
    cursor: pointer;
    padding: 0 0 25px 10px;
}

.faq_list>li>p:nth-child(2){
    text-decoration: underline;
}

.faq_list li:hover{
    color: #a642c9;
}

.faq_list li.active{
    color: #a642c9;
}

.faq_inst_txt{
    padding: 0 0 0 40px;
    font-size: 10px;
    color: #858585;
    line-height: 25px;
    margin: 0;
    display: none;
}

.faq_lin_brk{
    border-bottom: solid 1px #e5e5e5;
    padding-bottom: 35px;
    margin-bottom: 35px;
}

.main_wrap{
    display: none;
}

.seemore_btn{
    cursor: pointer;
}

.seemore_btn:hover p{
    color: #b04ad2 !important;
}

.merchant_det_rate{
    display: table;
}

.merchant_det_rate>div{
    display: table-cell;
}

.merchant_det_rate>div:first-child{
    color: #90339e;
    line-height: 17px;
    font-size: 9px;
    padding-right: 5px;
    vertical-align: middle;
}

.merch_det_pad{
    padding: 5px 20px !important;
}

.merch_det_acctions{
    display: table;
}

.merch_det_acctions>h3{
    display: table-cell;
}

@media (min-width: 768px){
    .contact_inner_wrap>div:nth-child(2){
        padding-right: 25px;
    }

    .contact_inner_wrap>div:nth-child(3){
        padding-left: 25px;
    }
}

@media (max-width: 768px){
    .contact_inner_wrap>div{
        padding: 25px;
    }
}