.row{
    margin-left: 0;
    margin-right: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
padding-right: 0;
padding-left: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
	position: relative;
	font-weight:400;
}
/* rorating stars */

.rotating {
    -webkit-animation: rotating 8s linear infinite;
    -moz-animation: rotating 8s linear infinite;
    -o-animation: rotating 8s linear infinite;
    animation: rotating 8s linear infinite;
    position:absolute;
    font-size:20px;
    top:30px;
    left:40px;
    color:#dfc9e8;
}
.rotating2 {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
    position:absolute;
    font-size:24px;
    top:50px;
    left:20%;
    color:#dfc9e8;

}
.rotating3 {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
    position:absolute;
    font-size:30px;
    top:-8px;
    left:35%;
    color:#dfc9e8;

}
.rotating4 {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
    position:absolute;
    font-size:16px;
    top:5px;
    left:70%;
    color:#dfc9e8;

}
.rotating5 {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
    position:absolute;
    font-size:20px;
    top:25px;
    left:90%;
    color:#dfc9e8;

}

.rotating6 {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
    position: absolute;
    font-size: 30px;
    top: 90vh;
    left: 60%;
    color: #dfc9e8;

}

.rotating7 {
    -webkit-animation: rotating 12s linear infinite;
    -moz-animation: rotating 12s linear infinite;
    -o-animation: rotating 12s linear infinite;
    animation: rotating 12s linear infinite;
    position: absolute;
    font-size: 40px;
    top: 76vh;
    left: 9%;
    color: #dfc9e8;

}

.rotating8 {
    -webkit-animation: rotating 16s linear infinite;
    -moz-animation: rotating 16s linear infinite;
    -o-animation: rotating 16s linear infinite;
    animation: rotating 16s linear infinite;
    position: absolute;
    font-size: 24px;
    top: 74vh;
    left: 95%;
    color: #dfc9e8;


}
.rotating9 {
    -webkit-animation: rotating 7s linear infinite;
    -moz-animation: rotating 7s linear infinite;
    -o-animation: rotating 7s linear infinite;
    animation: rotating 7s linear infinite;
    position: fixed;
    font-size: 46px;
    top: 40vh;
    left: 84%;
    color: #dfc9e8;

}

.rotating10 {
    -webkit-animation: rotating 9s linear infinite;
    -moz-animation: rotating 9s linear infinite;
    -o-animation: rotating 9s linear infinite;
    animation: rotating 9s linear infinite;
    position: fixed;
    font-size: 27px;
    top: 60vh;
    left: 15%;
    color: #dfc9e8;

}

.rotating11 {
    -webkit-animation: rotating 11s linear infinite;
    -moz-animation: rotating 11s linear infinite;
    -o-animation: rotating 11s linear infinite;
    animation: rotating 11s linear infinite;
    position: fixed;
    font-size: 27px;
    top: 72vh;
    left: 92%;
    color: #dfc9e8;

}

.rotating12 {
    -webkit-animation: rotating 8s linear infinite;
    -moz-animation: rotating 8s linear infinite;
    -o-animation: rotating 8s linear infinite;
    animation: rotating 8s linear infinite;
    position: fixed;
    font-size: 52px;
    top: 80vh;
    left: 37%;
    color: #dfc9e8;

}
.rotating13 {
    -webkit-animation: rotating 14s linear infinite;
    -moz-animation: rotating 14s linear infinite;
    -o-animation: rotating 14s linear infinite;
    animation: rotating 12s linear infinite;
    position: fixed;
    font-size: 43px;
    top: 90vh;
    left: 84%;
    color: #dfc9e8;

}

.rotating-mid-1{
    -webkit-animation: rotating 25s linear infinite;
    -moz-animation: rotating 25s linear infinite;
    -o-animation: rotating 25s linear infinite;
    animation: rotating 25s linear infinite;
    position: absolute;
    font-size: 374px;
    top: 22%;
    left: -10%;
    color: #cf90dc;

}
.rotating-mid-2{
    -webkit-animation: rotating 15s linear infinite;
    -moz-animation: rotating 15s linear infinite;
    -o-animation: rotating 15s linear infinite;
    animation: rotating 15s linear infinite;
    position: absolute;
    font-size: 220px;
    top: 20vh;
    left: 45%;
    color: #cf90dc;

}


.rotating1slide {
    -webkit-animation: rotating 8s linear infinite;
    -moz-animation: rotating 8s linear infinite;
    -o-animation: rotating 8s linear infinite;
    animation: rotating 8s linear infinite;
    position:absolute;
    font-size: 5vw;
    top: 12%;
    left: 6%;
    color: rgba(255, 255, 255, 0.4);
}
.rotating2slide {
    -webkit-animation: rotating 16s linear infinite;
    -moz-animation: rotating 16s linear infinite;
    -o-animation: rotating 16s linear infinite;
    animation: rotating 16s linear infinite;
    position:absolute;
    font-size: 4vw;
    top: 7%;
    left: 59%;
    color: rgba(255, 255, 255, 0.4);

}
.rotating3slide {
    -webkit-animation: rotating 9s linear infinite;
    -moz-animation: rotating 9s linear infinite;
    -o-animation: rotating 9s linear infinite;
    animation: rotating 9s linear infinite;
    position:absolute;
    font-size: 4vw;
    top: 24%;
    left: 97%;
    color: rgba(255, 255, 255, 0.4);

}
.rotating4slide {
    -webkit-animation: rotating 15s linear infinite;
    -moz-animation: rotating 15s linear infinite;
    -o-animation: rotating 15s linear infinite;
    animation: rotating 15s linear infinite;
    position:absolute;
    font-size: 3vw;
    top: 57%;
    left: 35%;
    color: rgba(255, 255, 255, 0.4);

}
.rotating5slide {
    -webkit-animation: rotating 13s linear infinite;
    -moz-animation: rotating 13s linear infinite;
    -o-animation: rotating 13s linear infinite;
    animation: rotating 13s linear infinite;
    position:absolute;
    font-size: 4.5vw;
    top: 68%;
    left: 67%;
    color: rgba(255, 255, 255, 0.4);

}

.rotating6slide {
    -webkit-animation: rotating 6s linear infinite;
    -moz-animation: rotating 6s linear infinite;
    animation: rotating 6s linear infinite;
    position: absolute;
    font-size: 2vw;
    top: 52%;
    left: 84%;
    color: rgba(255, 255, 255, 0.4);

}

/*.rotating6slide{
    animation: fadeAndScale 2s linear infinite;
    -webkit-animation: fadeAndScale 2s linear infinite;
    -moz-animation: fadeAndScale 2s linear infinite;
}*/

@keyframes fadeAndScale {
    0% {
        opacity: 1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50%{
        opacity: .5;
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes fadeAndScale {
    0% {
        opacity: 1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50%{
        opacity: .5;
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes fadeAndScale {
    0% {
        opacity: 1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50%{
        opacity: .5;
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes rotating {
    0% {
        opacity: 1;
        -moz-transform: rotate(0deg) scale(1);
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
    20%{
        opacity: 0;
        -moz-transform: rotate(72deg) scale(1.5);
        -webkit-transform: rotate(72deg) scale(1.5);
        transform: rotate(72deg) scale(1.5);
    }
    40%{
        opacity: 1;
        -moz-transform: rotate(144deg) scale(1);
        -webkit-transform: rotate(144deg) scale(1);
        transform: rotate(144deg) scale(1);
    }
    60%{
        opacity: 0;
        -moz-transform: rotate(216deg) scale(1.5);
        -webkit-transform: rotate(216deg) scale(1.5);
        transform: rotate(216deg) scale(1.5);
    }
    80%{
        opacity: 1;
        -moz-transform: rotate(288deg) scale(1);
        -webkit-transform: rotate(288deg) scale(1);
        transform: rotate(288deg) scale(1);
    }
    100% {
        opacity: 1;
        -moz-transform: rotate(360deg) scale(1);
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}

@-webkit-keyframes rotating {
    0% {
        opacity: 1;
        -moz-transform: rotate(0deg) scale(1);
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
    20%{
        opacity: 0;
        -moz-transform: rotate(72deg) scale(1.5);
        -webkit-transform: rotate(72deg) scale(1.5);
        transform: rotate(72deg) scale(1.5);
    }
    40%{
        opacity: 1;
        -moz-transform: rotate(144deg) scale(1);
        -webkit-transform: rotate(144deg) scale(1);
        transform: rotate(144deg) scale(1);
    }
    60%{
        opacity: 0;
        -moz-transform: rotate(216deg) scale(1.5);
        -webkit-transform: rotate(216deg) scale(1.5);
        transform: rotate(216deg) scale(1.5);
    }
    80%{
        opacity: 1;
        -moz-transform: rotate(288deg) scale(1);
        -webkit-transform: rotate(288deg) scale(1);
        transform: rotate(288deg) scale(1);
    }
    100% {
        opacity: 1;
        -moz-transform: rotate(360deg) scale(1);
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}
@keyframes rotating {
    0% {
        opacity: 1;
        -moz-transform: rotate(0deg) scale(1);
        -webkit-transform: rotate(0deg) scale(1);
        transform: rotate(0deg) scale(1);
    }
    20%{
        opacity: 0;
        -moz-transform: rotate(72deg) scale(1.5);
        -webkit-transform: rotate(72deg) scale(1.5);
        transform: rotate(72deg) scale(1.5);
    }
    40%{
        opacity: 1;
        -moz-transform: rotate(144deg) scale(1);
        -webkit-transform: rotate(144deg) scale(1);
        transform: rotate(144deg) scale(1);
    }
    60%{
        opacity: 0;
        -moz-transform: rotate(216deg) scale(1.5);
        -webkit-transform: rotate(216deg) scale(1.5);
        transform: rotate(216deg) scale(1.5);
    }
    80%{
        opacity: 1;
        -moz-transform: rotate(288deg) scale(1);
        -webkit-transform: rotate(288deg) scale(1);
        transform: rotate(288deg) scale(1);
    }
    100% {
        opacity: 1;
        -moz-transform: rotate(360deg) scale(1);
        -webkit-transform: rotate(360deg) scale(1);
        transform: rotate(360deg) scale(1);
    }
}
.under-wrap{
    z-index:5;
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

/* end rotating stars */




.img-center{
    margin: 0 auto;
}
.logo{
    width: 180px;
}
.logo-pad{
    padding: 15px 0;
}
.purple-head{
    background-color: #9354ad;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: 400;
}
.pad-top-nav{
    padding-top: 10px;
}
.logo-div{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    -webkit-box-shadow: 0 15px 50px -11px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 15px 50px -11px rgba(0,0,0,0.25);
    box-shadow: 0 15px 50px -11px rgba(0,0,0,0.25);
    position: absolute;
    top: 10px;
    background-color: #fff;
    z-index: 1;
}
.logo-inner{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 47px -11px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 0 47px -11px rgba(0,0,0,0.35);
    box-shadow: 0 0 47px -11px rgba(0,0,0,0.35);
    position: absolute;
    top: 10px;
    z-index: 2;
    background-color: #fff;
    left: 10px;
}
.pad-logo-img{
    width: 60px;
    padding-top: 20px;
}
.pad-top-login{
    padding-top: 7%;
}
.login-txt-bx{
    height: 44px;
    border: 2px solid #9b2ac0;
    font-size: 16px;
}
.pad-top-txt-login{
    padding: 25px 0 0;
}
.login-btn{
    color: #fff;
    background-color: #ff9a00;
    border-color: #ff9a00;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 18px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.login-btn:hover, .login-btn:focus, .login-btn.focus, .login-btn:active, .login-btn.active, .open>.dropdown-toggle.login-btn {
    color: #fff;
    background-color: #9354ad;
    border-color: #9354ad;
}
.login-btn-home{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 8px 12px;
    margin-bottom: 0;
    font-size: 18px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.pad-login-home{
    padding: 9px 0;
    text-align: center;
}
.login-tex-home{
    display: inline-block;
    padding-left: 22px;
    color: #fff;
    font-size: 22px;
    position: relative;
    bottom: -3px;
}
.purple-text{
    color: #9354ad;
}
.yellow-text{
    color: #ff9a00;
}
.pad-top-txt-reg{
    padding: 14% 0 0;
}
input[type=checkbox]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
    display: none;
}

input[type=checkbox]:not(old) + label{
    display: table;
    margin-left: 0;
    margin-bottom: 10px;
    font-weight: 700;
    color: #9d9d9d;
}

input[type=checkbox]:not(old) + label > span{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0.25em 0.5em 0.25em 0.25em;
    border-radius: 0;
    background: rgb(147, 84, 173);
    vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span{
    background-color: #9354ad;
}

input[type=checkbox]:not(old):checked + label > span:before{
    content: '✓';
    display: block;
    width: 1em;
    color: rgb(255, 255, 255);
    font-size: 0.875em;
    line-height: 14px;
    text-align: center;
    text-shadow: none;
    font-weight: bold;
}
.heading-mar0{
    margin: 0;
}
.pad-home-sec{
    padding: 50px 50px;
}
.home-heading{
    color: #4f4f4f;
    font-weight: 600;
    margin-bottom: 30px;
}
.home-pra{
    color: #a8a8a8;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 5%;
    text-align: justify;
}
.star-point-mob{
    color: #4e4e4e;
    font-weight: 600;
    font-size: 3vw;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 2px;
}
.mobile_app{
    color: #797979;
    margin-top: 0;
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 1px;
}
.lrn-mr{
    display: inline-block;
    color: #ff9a00;
    font-size: 18px;
}
.lrn-mr-ic{
    display: inline-block;
    color: #ff9a00;
    font-size: 18px;
}
.pad-home-top{
    padding-top: 20px;
}
hr {
    border-top: 1px solid #e1e1e1;
    width: 80%;
}
.pad-our-merch{
    padding: 20px 30px;
}
.home-bg {
    background: #c080cd;
    margin-top: 15px;
    position: relative;
}
.white-text {
    color: #fff;
}
.pad-home-para2 {
    padding: 4% 20px;
}
.home-bg-para {
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 5%;
}
.home-hr{
    margin-bottom: 4%;
    margin-top:0 ;
}
.home-gen-pad{
    padding: 0 30px;
}
.offers-heading{
    margin-top: 50px;
    margin-bottom: 30px;
}
.pad-offer{
    padding: 0 50px 40px;
}
.row-mar-offers{
    margin: 0 -50px;
}
.mar-home-pad{
    margin: 0 -20px;
}
.footer-shadow{
    -webkit-box-shadow: 0 -2px 24px -1px rgba(0,0,0,0.13);
    -moz-box-shadow: 0 -2px 24px -1px rgba(0,0,0,0.13);
    box-shadow: 0 -2px 24px -1px rgba(0,0,0,0.13);
    padding: 30px 0;
}
.redeem-head{
    color: #c569d6;
    font-size: 20px;
}
.pad-top-footer{
    padding-top: 80px;
}
.ftr-pra{
    color: #636363;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 2%;
    text-align: justify;
}
.home-pra span{
    font-size: 20px;
    color: #909090;
}
.footer-links{
    font-weight: 300;
    font-size: 12px;
    color: #c269d3;
}
.foot-tag-social{
    margin: 14px 0 0 -5px;
}
.footer-links:hover{
    text-decoration: none;
    color: rgba(229, 229, 229, 0.53);
}
.footer-clr{
    background-color: #5e1e7f;
}
.footer-pad{
    padding: 20px 0 10px;
}
.page-nav{
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 25px;
    color: #3e3e3e;
    min-height: 37px;
}
.page-nav-main{
    padding: 25px 15px 10px !important;
    margin-right: 0 !important;
}
.page-nav-back{
    background-color: #f4f4f4;
    -webkit-box-shadow: 0 1px 54px -16px rgba(0,0,0,0.56);
    -moz-box-shadow: 0 1px 54px -16px rgba(0,0,0,0.56);
    box-shadow: 0 1px 54px -16px rgba(0,0,0,0.56);
}
.page-nav-no-border{
    border-bottom: 0 solid #ddd;

}
.page-nav-border{
    border: 1px solid #e0e0e0;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-top: 0 !important;
}
.page-nav-border:hover .page-nav-main, .page-nav-border.active .page-nav-main{
    background-color: #b04ad2;
    border-color: #b04ad2 !important;
    border-radius: 0;
    margin-left: 0;
}
.page-nav-border:hover .page-nav-main img, .page-nav-border.active .page-nav-main img{
    filter: brightness(0) invert(1);
}
.page-nav-border:hover .page-nav-main .page-nav, .page-nav-border.active .page-nav-main .page-nav{
    color: #fff;
}
.page-nav-border:nth-child(1){
    border-left: 1px solid #e0e0e0 !important;
}
.page-nav-border.active>.arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #b04ad2;
    border-bottom-width: 0;
}
.page-nav-border>.arrow {
    border-width: 11px;
}
.page-nav-border>.arrow, .page-nav-border>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.page-nav-border.active>.arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #b04ad2;
    border-bottom-width: 0;
}
.page-nav-border>.arrow:after {
    content: "";
    border-width: 10px;
}
.page-nav-border>.arrow, .page-nav-border>.arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.page-nav-no-border>li.active>a, .page-nav-no-border>li.active>a:hover, .page-nav-no-border>li.active>a:focus {
    background-color: #b04ad2;
}
.page-nav-para{
    text-align: center;
    color: #3c3c3c;
    font-weight: 100;
    font-size: 16px;
}
.pad-redeem{
    padding: 60px 0;
}
.page-tab-nav .tab-pane{
    -webkit-box-shadow: 0 51px 43px -54px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 51px 43px -54px rgba(0,0,0,0.25);
    box-shadow: 0 51px 43px -54px rgba(0,0,0,0.25);
    padding: 0 40px;
}
.pay-bulk{
    color: #fff;
    background-color: #ff9a00;
    border-color: #ff9a00;
    padding: 10px 25px;
    -webkit-box-shadow: 0 0 26px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 26px -9px rgba(0,0,0,0.75);
    box-shadow: 0 0 26px -9px rgba(0,0,0,0.75);
    border-radius: 4px;
}
.pad-pay-bulk{
    padding: 40px 0;
}
.pad-acc-pay{
    padding: 10px 30px;
}
.redeem-frm{
    border: 2px solid #b7b7b7;
    color: #acacac;
    height: 40px;
}
.pay-bulk-sec2{
    display: none;
}
.pay-bulk-sec3{
    display: none;
}
.pad-back-btn{
    padding: 0 40px;
}
.pay-back{
    color: #ff9a00;
}
.pay-bulk-sec1{
    display: none;
}
.add-itm-div{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 2px solid #7f7f7f;
    margin: 0 auto;
}
.add-itm-clr{
    color: #7f7f7f;
    text-align: center;
}
.pay-add-itm:hover .add-itm-clr{
    text-decoration: none;
}
.add-div{
    padding-top: 26px;
}
.btn-delete{
    color: #fff;
    background-color: #f31c95;
    border-color: #f31c95;
    font-size: 22px;
    padding: 1px 15px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 0 solid #ddd;
    border-bottom: 1px solid #ddd;
}
.pad-donnate{
    padding: 30px 0 10px;
}
.pad-offers{
    padding: 20px 30px;
}
.offer-header{
    background-color: #411757;
    color: #fff;
    padding: 10px 18px;
}
.offer-header h3{
    margin: 0;
    font-size: 20px;
}
.see-more-pad{
    padding-top: 20px;
}
.offers-header{
    background-color: #e1e1e1;
    padding: 10px 0 0;
}
.offer-btn-grp{
    color: #3b3b3b;
    background-color: #e1e1e1;
    border-color: #e1e1e1;
    padding-bottom: 15px;
    border-radius: 0;
    border-bottom: 2px solid transparent;
}
.offer-btn-grp.active{
    border-bottom: 2px solid #752795;
}
.offer-btn-grp:hover, .offer-btn-grp:active, .offer-btn-grp.active, .open>.dropdown-toggle.offer-btn-grp {
    color: #333;
    background-color: #e1e1e1;
    border-color: #e1e1e1;
    box-shadow: none;
    border-bottom: 2px solid #8c0ea1;
}
.offr-row-mar{
    margin: 0 -50px;
}
.seasonal-offs{
    color: #9232a0;
    font-size: 20px;
}
.pad-offer-sec{
    padding: 20px 30px;
}
.mar-offer-sec{
    margin: 0 -30px;
}
.pad-offer-sec-para{
    padding: 30px 0px;
}
.mar-bot-ras{
    margin-bottom: 20px;
}
.offers-tab-sec{
    display: none;
}
.active-offer{
    display: block !important;
}
.lnr-star{
    pointer-events: none;
}
.input-search{
    margin-top: 30px;
}
.pad-img-hsbc{
    float: left;
    padding: 0 30px 30px 0;
}
.eg-color{
    color: #505050 !important;
}
.trans-heading{
    color: #4e4e4e;
    font-weight: 400;
}
.pad-trans{
    padding: 20px 0;
}
.ratio-para{
    color: #666666;
    margin-bottom: 12px;
    margin-top: 12px;
}
.trans-rat-div{
    background-color: #f5f5f5;
    padding: 0 30px;
    margin-bottom: 6px;
}
.fnt-awsm{
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}
.merch-search-bt{
    position: absolute;
    top: 5px;
    right: 6px;
    padding: 4px 30px;
    background-color: #ff9a00;
    border-color: #ff9a00;
    color: #fff;
}
.mer-list>li {
    position: relative;
    margin: 10px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #e1e1e1;
    color: #3c3c3c;
}
.mer-list .fa-star{
    color: #fe9b00;
}
.pad-img-hsbc2{
    float: right;
    padding: 0 0 30px 30px;
    width: 300px;
}
.loyal-ul .fa-star{
    color: #9232a0;
}
.loyal-ul li{
    margin: 25px 0;
    font-size: 16px;
    line-height: 19px;
    color: #a3a3a3;
}
.loyal-ul{
    margin-left: 3.142857em;
}
.point-blnce li{
    margin: 8px 0;
    font-size: 16px;
    line-height: 19px;
    color: #525252;
}
.his-table>thead>tr>th {
    background-color: #f7e4ff;
}
.his-table>thead>tr>th, .his-table>tbody>tr>th, .his-table>tfoot>tr>th, .his-table>thead>tr>td, .his-table>tbody>tr>td, .his-table>tfoot>tr>td {
    padding: 10px 60px !important;
    color: #646464;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 30px;

}
.user-sec {
    background-color: #f3f3f3;
    padding: 5px 20px;
    margin-bottom: 25px;
}
.user-para{
    color: #6f6f6f;
}
.user-date{
    color: #3d3d3d;
    text-align: right;
    font-size: 13px;
    font-weight: 400;
}
.pad-usr-com{
    padding: 15px 0;
}
.usr-cmnt-txt{
    height: 100px !important;
    resize: none;
}