.logo_outer{
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 0;
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 0 0 71px 0 rgba(0,0,0,0.16);
    -moz-box-shadow: 0 0 44px 0 rgba(0,0,0,0.46);
    box-shadow: 0 0 71px 0 rgba(0,0,0,0.16);
    border-radius: 50%;
    overflow: hidden;
}
.logo_inner{
    padding: 34px 20px;
    -webkit-box-shadow: 0 0 44px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 44px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 44px 0 rgba(0,0,0,0.1);
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
}
.pad-top-tel{
    padding: 240px 60px 0;
}

.mob-no{
    background-color: #540775;
    color: #fff;
    font-size: 14px;
    font-weight: 100;
    border-color: #540775;
    height: 44px;
    border-radius: 30px !important;
    box-shadow: none;
    padding: 6px 20px;
}
.mob-ic{
    background-color: #540775;
    color: #fff;
    border-color: #540775;
    font-size: 23px;
    font-weight: 100;
    border-radius: 35px 0 0 35px;
    padding: 10px 10px 10px 24px;
}
.mob-ic-2{
    background-color: #540775;
    color: #fff;
    border-color: #540775;
    font-size: 16px;
    font-weight: 100;
    border-radius: 30px 0 0 30px;
    padding: 6px 0 6px 20px;
}
.form-control:focus {
    border-color: #ff9a00;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(255, 154, 0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(255, 154, 0);
}

.pad-sign-in{
    padding: 30px 0;
}
.sign-in-btn{
    background-color: #ff9a00;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    border-color: #ff9a00;
    padding: 8px 12px;
    font-weight: 700;
}
.new-to{
    font-size: 19px;
    color: #732294;
    margin-top: 30px;
}
.pad-main-login{
    padding: 0 0 0;
}
.logo_inner_page {
    padding: 26px 16px;
    -webkit-box-shadow: 0 0 20px 0 rgba(115,34,148,0.3);
    -moz-box-shadow: 0 0 20px 0 rgba(115,34,148,0.3);
    box-shadow: 0 0 20px 0 rgba(115,34,148,0.3);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.logo_outer_page {
    position: absolute;
    right: 0;
    left: 0;
    padding: 0 0;
    width: 120px;
    height: 120px;
    -webkit-box-shadow: 0 0 71px 0 rgba(115,34,148,0.16);
    -moz-box-shadow: 0 0 44px 0 rgba(115,34,148,0.46);
    box-shadow: 0 0 71px 0 rgba(115,34,148,0.16);
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    z-index:100;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.page-header-pos{
    position: relative;
    bottom: -20px;
}
.pos-ab-top{
    bottom: -60px;
}
.under-header_wrap{
    background:#2b2b2b;
    height:78px;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:2;


}

.slide-wrap{
    margin-top: 78px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
}
.sticky2{
    margin-top: 20px;
}
.header_pg{
    -webkit-transition: all 5s ease-in-out;
    -moz-transition: all 5s ease-in-out;
    -o-transition: all 5s ease-in-out;
    transition: all 5s ease-in-out;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#571181+31,8d38a4+100&0.77+0,0.88+100 */
    background: -moz-linear-gradient(top, rgba(87,17,129,0.77) 0%, rgba(87,17,129,0.8) 31%, rgba(141,56,164,0.88) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(87,17,129,0.77) 0%,rgba(87,17,129,0.8) 31%,rgba(141,56,164,0.88) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(87,17,129,0.77) 0%,rgba(87,17,129,0.8) 31%,rgba(141,56,164,0.88) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4571181', endColorstr='#e08d38a4',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: 0 0 22px 0 rgba(0,0,0,0.44);
    -moz-box-shadow: 0 0 22px 0 rgba(0,0,0,0.44);
    box-shadow: 0 0 22px 0 rgba(0,0,0,0.44);
    z-index: 8;
    position: fixed;
    width: 100%;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
    padding-top: 27px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
.navbar-default>li>a {
    padding: 13px 0 13px 35px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: -30px;
    border-radius: 0;
}
.nav>li .active {
    border-bottom: 3px solid #f3f000;
}
.navbar-brand {
    height: 0;
    padding: 0;
}
.navbar {
    border: 0 solid transparent;
}
.client-box{
    margin-top: 4%;
    border: solid 5px #c080cd;
    border-radius: 18px;
    padding: 6px;
}
.navbar-default .nav>li {
    padding: 0 0 0 5vw;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.pro-pad{
    padding: 6px 5px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #f3f000;
    background-color: transparent;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 2px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.navbar-nav>li>a {
    line-height: 20px;
    padding: 14px 5px ;
    border-bottom: solid 2px transparent;
}
.login-btn-head{
    border: solid #fff 2px !important;
    border-radius: 4px;
    margin-top: 4px;
    padding: 6px 25px !important;
}
.login-btn-head:hover{
    border: solid #fff 2px;
    border-radius: 4px;
    background: #fff !important;
    color: #5c1f7a !important;
}
.carousel{
    margin-top: 77px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: rgba(99, 21, 146, 0.81);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0 solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a {
    display: block;
    padding: 12px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
    border-bottom: 1px solid rgba(174, 101, 210, 0.62);
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #691a98;
    text-decoration: none;
    background-color: #ffffff;
}
@media (min-width: 768px){
    .modal-sm {
        width: 360px;
    }}
.merchant-link .ico{
    color:#ff9a00;
}
.merchant-link {
    color: #762cc5;
    text-decoration: none;
}
.merchant-link:hover, .merchant-link:focus {
    color: #555;
    text-decoration: none;
}
.merchant-link:hover .ico, .merchant-link:focus .ico{
    color: #762cc5;
    text-decoration: none;
}

.merchant-box{
    padding: 20px 20px;
    transition: padding .2s ease-out;
    -webkit-transition: padding .2s ease-out;
    -moz-transition: padding .2s ease-out;
}
.pad-merchant{
    padding: 2% 20px 3%;
}

.sign-link{
    color: #ff9a00;
    text-decoration: none;
    cursor:pointer;
}
.sign-link:hover, .sign-link:focus {
    color: #555;
    text-decoration: none;
}


.white-text{
    color: #fff;
}
.sticky .logo_outer_page {
    position: absolute;
    right: 0;
    left: 0;
    padding: 0 0;
    width: 80px;
    height: 80px;
}
.sticky .logo_inner_page {
    padding: 16px 12px;
    -webkit-box-shadow: 0 0 20px 0 rgba(115,34,148,0.3);
    -moz-box-shadow: 0 0 20px 0 rgba(115,34,148,0.3);
    box-shadow: 0 0 20px 0 rgba(115,34,148,0.3);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 8px;
}

.sticky .navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0;
    padding-top: 9px;
}
.sticky{
    background: -moz-linear-gradient(top, rgba(87,17,129,0.77) 0%, rgba(87,17,129,0.8) 31%, rgba(141,56,164,0.88) 100%);
    background: -webkit-linear-gradient(top, rgba(87,17,129,0.77) 0%,rgba(87,17,129,0.8) 31%,rgba(141,56,164,0.88) 100%);
    background: linear-gradient(to bottom, rgb(87, 17, 129) 0%,rgb(87, 17, 129) 31%,rgb(141, 56, 164) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4571181', endColorstr='#e08d38a4',GradientType=0 );
    -webkit-box-shadow: 0 0 22px 0 rgba(0,0,0,0.24);
    -moz-box-shadow: 0 0 22px 0 rgba(0,0,0,0.24);
    box-shadow: 0 0 22px 0 rgba(0,0,0,0.24);
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #f3f000;
    background-color: transparent;
}
.nav>li .active {
    color: #f3f000;
    border-bottom: 3px solid #f3f000;
}
.navbar-brand {
    height: 0;
    padding: 0;
}
.navbar {
    border: 0 solid transparent;
}
.min-mar{
    margin-left: -4%;
    margin-right: -4%;
}
.input-search .form-control {
    height: 40px;
    border: 2px solid #ccc;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #90339e;
    border-color: #90339e;
    padding: 0;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    padding: 18px 23px 16px;
    text-transform: uppercase;
}
.panel-default>.panel-heading a{
    color: #fff;
    }
.panel-default>.panel-heading a:hover, .panel-default>.panel-heading a:focus{
    text-decoration: none;
}
.panel {
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
}

.merchant-list a{
    color: #555;
}

.merchant-list .fa-li {
    margin-top: 14px;
    margin-left: 30px;
    color: #fd9a01;
}
.merchant-list>li>a:hover, .merchant-list>li>a:focus {
    text-decoration: none;
    background-color: #fd9a01;
    color: #fff;
}


.merchant-list>li>a:hover .fa-li, .merchant-list>li>a:focus {
    color: #fff;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #fd9a01;
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 12px;
}
.breadcrumb a {
    color: #fd9a01;
    text-decoration: none;
    padding-right: 6px;
    font-size: 12px;
}
.breadcrumb {
    padding: 0;
    margin: 35px 0 0 0;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}
.pad-home-sec {
    padding: 4%;
}

.merchant-right-sec {
    padding: 20px 50px 20px 0px;
}
.mer-in-tit {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    color: #90339e;
}
.mer-box img{
    margin: 0 auto;
}

.mer-box a{
    color: #555;
    font-size: 16px;

}
.mer-box a h4 {
    font-size: 16px;
    margin-top: 20px;
}
.mer-box a:hover{
    color: #fd9a01;
    text-decoration: none;
}
.mer-box{
    padding: 8% 26%;
}
.merchant-list>li>a {
    padding: 13px 0 13px 35px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: -30px;
    border-bottom: 1px solid #dedede;
    border-radius: 0;
}
.branch-box{
padding:8% 0 ;
}
.branch-in-text{
    padding: 20px;
}
.branch-in-text h4{
    color: #555;
}
.branch-in-text h5{
    color: #999;
}
@media (max-width: 768px){
.merchant-right-sec {
    padding: 20px 70px 23px 70px;
}}

